<div class="container mt-4">
    <h1>Almacenes</h1>
    <a routerLink="/almacenes/new" class="btn btn-primary mb-3">Nuevo Almacen</a>

    <div class="d-flex justify-content-between align-items-center px-3 py-2 mt-5 fw-bold">
        <div class="col">Descripción</div>
        <div class="col">Locación</div>
        <div class="col">Estado</div>
        <div class="col">Acciones</div>
      </div>

    <ul class="list-group">
        <li *ngFor="let almacen of almacenes" class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <span class="col">{{ almacen.descripcion }}</span>
                <span class="col">{{ almacen.locacion }}</span>
                <span class="col">{{ almacen.estado }}</span>
                <div class="col">
                    <a [routerLink]="['/almacenes', almacen.id]"
                        class="btn btn-sm btn-outline-primary me-2">Editar</a>
                    <button (click)="deleteAlmacen(almacen.id)"
                        class="btn btn-sm btn-outline-danger">Eliminar</button>
                </div>
            </div>
        </li>
    </ul>
</div>